= render :partial => 'shared/searchbar'

.row
	.title
		%h1= "Les avis sur " + @cook.title
		= image_tag "tete.png"

- @comments.each do |comment|
	.row
		.col-xs-12.col-md-8-offset-2
			= link_to cooks_path do
				= image_tag "icons/edit.png", class: "logo_field"
			= link_to cooks_path do
				= image_tag "icons/cross.png", class: "logo_field"

			- comment[:star].times do 
				= image_tag "icons/star.png"
			= comment.name + comment.updated_at.to_s
			= "Note : " + comment[:star].to_s	

			= comment.description




