= simple_form_for @cook, html: { multipart: true } do |f|
	= f.input :cook_title
	= f.input :gender
	= f.input :introduction
	= f.input :working_distance

	= f.button :submit, class: 'btn btn-default'

= link_to "Back", root_path

:javascript
	$(function(){
		$("#postal_code")
			.geocomplete()
			.bind("geocode:result", function(event, result){
				console.log(result)
			});
	});