.row
	.title
		%h1= "Les cooks " + @proximite
.row
	.col-xs-6.col-md-8
		- if @adress.present?
			.adress_area
				%h4=@adress
				= link_to cooks_path do
					= image_tag "icons/cross.png", class: "logo_field"
	.col-xs-6.col-md-4
		.row
			.col-xs-3	
				%h4= "trier par :"
			.col-xs-3	
				%h4=link_to "note"
			.col-xs-3	
				%h4=link_to "prix"
			.col-xs-3	
				%h4=link_to "nom"

- @cooks.each_slice(4) do |slice|
	.row
		- @cooks.each do |cook|
			.col-xs-6.col-md-3
				.cook
					- if cook.in_range == "OK"
						= image_tag "icons/ok.png" 
						%h6= "Distance : " + cook.distance + " km"
					- elsif cook.in_range == "QUESTION"
						= image_tag "icons/question.png" 
						%h6= "Distance : " + cook.distance + " km"

					= image_tag "tete.png"
					%h5= link_to cook.title, cook_recipes_path(cook)
					%h5 specialités
					%h5 20€ / pers
					= link_to cook_recipes_path(cook) do
						%h5= pluralize(cook.nb_recipes.to_s, 'recette')
					- if cook.nb_avis > 0 
						= link_to comments_path(id: cook.id) do
							%h5= "(" + cook.nb_avis.to_s + " avis)"
						= "Note : " + cook.nb_stars.round(1).to_s	
						- cook.nb_stars.round.times do 
							= image_tag "icons/star.png"



