= form_for(@user, url: registration_path(:user)) do |f|
	= f.error_notification
	= f.input :email, required: true, autofocus: true, input_html: { class: 'form-control' }
	= f.text_field :pseudo, required: true
	= f.input :password, required: true, input_html: { class: 'form-control' }, hint: ("#{@minimum_password_length} characters minimum" if @minimum_password_length)
	= f.input :password_confirmation, required: true, input_html: { class: 'form-control' }

	= f.button :submit, "Créer le compte", class: "btn btn-primary"