!!! 5
%html
%head
	= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true
	= javascript_include_tag 'application', 'data-turbolinks-track' => true
	
	= javascript_include_tag 'http://maps.googleapis.com/maps/api/js?sensor=false&libraries=places'

	= stylesheet_link_tag "jquery.fullPage.css"
	= javascript_include_tag "jquery.fullPage.js"

	= csrf_meta_tags

#flash_msg
	= render_flash
= render :partial => 'shared/modal_accounts'

%header
	= navbar fixed: :top do
		= navbar_header brand: 'Cook@dom', brand_link: root_path
		= navbar_collapse do
			= navbar_group class: 'no-hide', align: 'right' do
				- if user_signed_in?
					= navbar_dropdown current_user.pseudo do
						= navbar_dropdown_header ('chez ' + current_user.pseudo)
						= navbar_item "Mon compte", user_path(current_user)
						= navbar_item "Mes recettes", user_recipebook_path(@user)
						= navbar_item "Déconnection", destroy_user_session_path, {method: 'delete'}
				- else
					= navbar_text 'Connection', class: "account_link connect_account"
					= navbar_text 'Créer mon compte', class: "account_link create_account"


%body

	.container_screened
		.container
			- unless current_page?(root_url)
				= render :partial => 'shared/searchbar'
			= yield

%footer
	.text
		%h3= mail_to("cookadom@gmail.com")
		%h3.smallhide= "|"
		%h3= link_to 'Nos conditions', root_path
		%h3.smallhide= "|"
		%h3= "© Cook@dom 2015"
	.follow
		= image_tag "icons/facebook.png", class: "icon"
		= image_tag "icons/pinterest.png", class: "icon"


:javascript
	$(document).ready(function(){
		setTimeout(function(){
			$('#flash_msg').fadeOut("slow", function() {
				$(this).remove();
			});
		}, 4000);
		geocomp("address");
	});

	$('.create_account').click(function() {
		$('#account').fadeIn("slow");
		$('#create-account').show();
		$('#connect-account').hide();
	});
	$('.connect_account').click(function() {
		$('#account').fadeIn("slow");
		$('#connect-account').show();
		$('#create-account').hide();
	});



