!!! 5
%html
%head
	%title Cook@dom
	= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true
	= javascript_include_tag 'application', 'data-turbolinks-track' => true
	= csrf_meta_tags

- if notice
	#notice_wrapper
		%p.notice
			=notice
- if alert
	#notice_wrapper
		%p.alert
			=alert

%body
	%nav.navbar.navbar-default
		.container
			.navbar-brand= link_to "Cook@dom", root_path
			- if user_signed_in?
				%ul.nav.navbar-nav.navbar-right
					%li= link_to current_user.email, users_path
					%li= link_to "New recipe", new_recipe_path
					%li= link_to "Sign Out", destroy_user_session_path, method: :delete
			- else
				%ul.nav.navbar-nav.navbar-right
					%li= link_to "Sign Up", new_user_registration_path
					%li= link_to "Sign In", new_user_session_path

	.container
		= yield


:javascript
	$(document).ready(function(){
		setTimeout(function(){
			$('#notice_wrapper').fadeOut("slow", function() {
				$(this).remove();
			});
		}, 3500);
	});