!!! 5
%html
%head
	%title Cook@dom
	= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true
	= javascript_include_tag 'application', 'data-turbolinks-track' => true
	
	= javascript_include_tag 'http://maps.googleapis.com/maps/api/js?sensor=false&libraries=places'

	= stylesheet_link_tag "jquery.fullPage.css"
	= javascript_include_tag "jquery.fullPage.js"

	= csrf_meta_tags

- if notice
	#notice_wrapper
		%p.notice
			=notice
- if alert
	#notice_wrapper
		%p.alert
			=alert

%body
	%nav.navbar.navbar-default
		.container
			%ul.nav.navbar-nav.navbar-left
				.navbar-brand= link_to "Cook@dom", root_path
			- if user_signed_in?
				%ul.nav.navbar-nav.navbar-right
					= link_to image_tag("icons/header/user.png", title: ("chez " + current_user.pseudo), :size => "50x50"), user_path(current_user)
					= link_to image_tag("icons/header/recipe book.png", title: "mes recettes", :size => "50x50"), myrecipes_path()
					= link_to image_tag("icons/header/exit.png", title: "Sign Out", :size => "50x50"), destroy_user_session_path, method: :delete

			- else
				%ul.nav.navbar-nav.navbar-right
					%li= link_to "Créer mon compte", new_user_registration_path
					%li= link_to "Connection", new_user_session_path

	.container
		= yield

%footer
	%nav.navbar.navbar-default
		.container
			%ul.nav.navbar-nav.navbar-left
				%h3='Retrouvez nous sur :'
				%h3= "Contact"
				%h3= mail_to("cookadom@gmail.com")
				%h3= link_to 'Nos CGV', root_path
				%h3= "© Cook@dom 2015"

:javascript
	$(document).ready(function(){
		setTimeout(function(){
			$('#notice_wrapper').fadeOut("slow", function() {
				$(this).remove();
			});
		}, 3500);
		geocomp("address");
	});


